[Desktop Entry]
Name=Menda

X-KDE-PluginInfo-Name=Menda
X-KDE-PluginInfo-Author=Manjaro Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
