[Desktop Entry]
Name=Menda

X-KDE-PluginInfo-Name=Menda
X-KDE-PluginInfo-Author=Lane Wiscombe
X-KDE-PluginInfo-Email=lane.wiscombe@gmail.com
X-KDE-PluginInfo-License=LGPLv3
